/* Use DM Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #F2E8CF;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --color1: #B9D16E;
  --color2: #F2F2F2;
  --color3: #F2BC57;
  --color4: #3F4726;
  --color5: #F2E8CF;
  --color5lt: #956F4E;
  --color5dk: #512b0a;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: repeat-y;
  --bs-body-bg: var(--matr-navbar-bg);
  --bs-body-font-family: 'DM Sans', sans-serif; /* Use 'DM Sans' as the font-family */
}

.vertical-center
{
  margin-top: 10%;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.color1 {background-color: var(--color1);}
.color2 { background-color: var(--color2);}
.color3 {background-color: var(--color3);}
.color4 {background-color: var(--color4);}
.color5 {background-color: var(--color5);}
#Login
{

}
.padded
{
  padding: 1.5em;
}
.card.recipe, .card.store{
  background-color: var(--color2);
  padding: 1em;
  margin-bottom: 1em;
}
.card ul
{
  list-style-type: none;
}
.cardImg
{
  width: 100%;
}
code {
}
li.nav-item.nav-link
{
  color: var(--color4);
  font-size: 2em;

}
a.nav-link
{
  color: var(--color4);
  font-size: 1.5em;
  padding-right: 2em;
}
a.nav-link:hover
{
  background-color: var(--color3);
}
a.nav-link:active
{
  background-color: var(--color1);
}
.content
{
  border-radius: 15px;
}
.bannerLogo
{
  border-radius: 25%;
  max-height: 5em;
}

.form-control.search {
  background-color: #F2F2F2;
}

h1 {
  font-size: 10vw;
}