/* Use DM Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #F2E8CF;
  --matr-navbar-bg-rgb: 236, 236, 236;
  --color1: #B9D16E;
  --color2: #F2F2F2;
  --color3: #F2BC57;
  --color4: #28590C;
  --color5: #F2E8CF;
  --color5lt: #956F4E;
  --color5dk: #512b0a;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-repeat: repeat-y;
  --bs-body-bg: var(--matr-navbar-bg);
  --bs-body-font-family: 'DM Sans', sans-serif; /* Use 'DM Sans' as the font-family */
}

.vertical-center
{
  margin-top: 10%;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.color1 {background-color: var(--color1);}
.color2 { background-color: var(--color2);}
.color3 {background-color: var(--color3);}
.color4 {background-color: var(--color4);}
.color5 {background-color: var(--color5);}
.accent1{background-color: var(--color3);}
.accent2{background-color: var(--color1);}
.accent3{background-color:  var(--color4);}
#Login
{

}
.padded
{
  padding: 1.5em;
}
.card.recipe, .card.store, .card.signin {
  background-color: var(--color2);
  padding: 1em;
  margin-bottom: 1em;
}

#signin-form-email, #signin-form-password, #signup-card, #signup-form-email, #signup-form-password, #signup-form-role, #add-recipe-name, #add-recipe-image, #add-recipe-description, #add-recipe-equipment, #add-recipe-ingredients, #add-recipe-instructions, #add-recipe-restrictions, #add-recipe-cost, #add-recipe-servings, #add-recipe-time, #add-store-name, #add-store-image, #add-store-location, #add-store-hours, #add-store-ingredients, #edit-recipe-card, #edit-recipe-name, #edit-recipe-image, #edit-recipe-description, #edit-recipe-equipment, #edit-recipe-ingredients, #edit-recipe-instructions, #edit-recipe-restrictions, #edit-recipe-cost, #edit-recipe-servings, #edit-recipe-time, #edit-store-card, #edit-store-name, #edit-store-image, #edit-store-location, #edit-store-hours, #edit-store-ingredients  {
  background-color: var(--color2);
}



.card ul
{
  list-style-type: none;
  padding: 0;
}
.cardImg
{
  width: 100%;
}
code {
}
li.nav-item.nav-link
{
  color: var(--color4);
  font-size: 2em;

}
a.nav-link
{
  color: var(--color4);
  font-size: 1.5em;
  padding-right: 2em;
}
a.nav-link:hover
{
  background-color: var(--color3);
}
a.nav-link:active
{
  background-color: var(--color1);
}
.content
{
  border-radius: 15px;
}
.slantRight
{
  transform: skew(-30deg);
  min-height:500px;
}
.unslant
{
  transform: skew(30deg);
  /*min-height:500px;*/
}

.slide1
{
  background-image: url("https://manoa.hawaii.edu/food/wp-content/uploads/sites/37/2020/05/beancounter_big.jpg");
}
.slide2
{
 background-image: url("https://live.staticflickr.com/7086/13997431652_93fd028659_3k.jpg");
}
.slide3
{
background-image: url("https://domf5oio6qrcr.cloudfront.net/medialibrary/11499/3b360279-8b43-40f3-9b11-604749128187.jpg");
}
.fullBg
{
  background-size: cover;
  background-repeat: no-repeat;

}
.blurbImg {
          border-radius: 100%;
        }
.bannerLogo
{
  border-radius: 25%;
  max-height: 5em;
}

h1 {
  font-size: 10vw;
}

.circle
{
  border-radius: 100%;
  aspect-ratio: 1/1;
}

.carousel-caption.text {
  top: 38%;
  left: 40%;
}
